.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 20px;
}

.meetContainer {
}

.cardRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* space between circles */
  margin-top: 80px;
}

.card {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 600;
  color: #2a2a2a;
  text-shadow: 1px 1px 1px white;
  transition: 0.3s;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.18);
}


